.whatwedo h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.whatwedo p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
}
.contact{
  text-align: center;
}
.form{
  display: block;
  margin-left: 3%;
  margin-right: 3%;

}
.conta{
  background-color: goldenrod;
}
.form #message{
  width: 70%;
  height: 40px;
  margin-top: 2%;
}
