* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    ;
    }
    
    .get-heading {
    position: absolute;
    text-align: center;
    margin-top: 340px;
    margin-left: 400px;
    color: white;
    font-weight: bold;
    font-size: 70px;
    }
    
    .get-intro {
    margin-top: 100px;
    margin-left: 0px;
    color: black;
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
    
    }
    
    .contact-background-1 {
    background-image: url(/Tembea-Travel-App/images/elephants.jpg);
    position: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin: 25px;
    
    }
    
    .yellow {
    color: rgb(207, 207, 6);
    }
    
    .crimson {
    color: red;
    }
    .form {
        color: grey;
        position: absolute;
        margin-left: 80px;
        margin-right: 80px;
        background-image: url(/Tembea-Travel-App/images/lions.jpg);
        color: white;
        height: 800px;
        width: 1500px;
        opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
        }
        
        .form-header {
        color: white;
        margin-left: 450px;
        position: absolute;
        margin-top: 20px;
        
        }
        
        .header-background {
        background-color: black;
        height: 100px;
        opacity: .78;
        }
        
        .kindly {
        margin-left: 400px;
        margin-top: 100px;
        font-weight: bold;
        font-size: 22px;
        }
        
        .travel-select {
        background: rgb(32, 31, 31);
        color: white;
        border-radius: 6px;
        margin-left: 20px;
        }
        .discover-button{
        position: absolute;  
        margin-top: 500px;  
        margin-left: 700px;
        height: 50px;
        width: 120px;
        border-radius: 8px;
        background-color:crimson;
        color: white;
        border: none;
        }
        .trial{
        background-color: green;
        }
        .submit{
        border: none;
        height: 50px;
        width: 120px;
        border-radius: 8px;
        background-color:rgb(119, 119, 3);
        color: white;
        margin-left: 300px;
        margin-top: 40px;
        opacity: 0.85;
        
        }
        .destination-display{
        margin-left: 250px;
        margin-top: 400px;
        font-size: 50px;
        color: white;
        font-weight: bold;
        }
        .trip-background{
            margin-top: 1000px; 
            margin-left: 80px;
            margin-right: 80px;
            background-image: url(/Tembea-Travel-App/images/boat.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height:700px

        }
        .trip-heading{
            color: white;
            margin-left: 600px;
        }
        .activities{
            margin-top: 800px;
            margin-left: 600px;
        }
        .destination-display{
            color:white;
            font-size: 30px;
            font-weight:bold;
        }
        
        
        
         